*.pdf
datasheet&reference/
*.rar
毕业论文/
others/
Document/*.tmp
Git_program/*.docx
Git_program/*.xlsx
Git_program/*.txt
Document/visio/*
Git_program/DebugPlatform/DebugPlatform-v4.0/*.pyc
Git_program/DebugPlatform/DebugPlatform-v4.0/*.txt
Git_program/DebugPlatform/backups/
Git_program/DebugPlatform/Data/
Git_program/DebugPlatform/Log/
Git_program/DebugPlatform/Sniffer/
Git_program/DebugPlatform/reference/
Git_program/DebugPlatform/.metdata/
Git_program/STM32sniffer-v2.0/obj/
Git_program/STM32-v3.0/obj/

470M/*