*.pdf
*.php
*.rar
*.docx
*.xlsx
*.txt
datasheet&reference/
*.pyc
Git_program/DebugPlatform-*/backups/
Git_program/DebugPlatform-*/Data/
Git_program/DebugPlatform-*/Log/
Git_program/DebugPlatform-*/relay-pi/Log/
Git_program/DebugPlatform-*/Sniffer/
Git_program/DebugPlatform-*/reference/
Git_program/DebugPlatform-*/.metdata/
obj/
Debug/
PNI/
app/
Hardware/
测试/
树莓派配置/
文献/