*.pdf
datasheet&reference/
*.rar
毕业论文/
others/
Document/*.tmp
Git_program/*.docx
Git_program/*.xlsx
Git_program/*.txt
Document/visio/*
Git_program/DebugPlatform-v4.2.2/DebugPlatform/*.pyc
Git_program/DebugPlatform-v4.2.2/DebugPlatform/*.txt
Git_program/DebugPlatform-v4.2.2/backups/
Git_program/DebugPlatform-v4.2.2/Data/
Git_program/DebugPlatform-v4.2.2/Log/
Git_program/DebugPlatform-v4.2.2/Sniffer/
Git_program/DebugPlatform-v4.2.2/reference/
Git_program/DebugPlatform-v4.2.2/.metdata/
Git_program/STM32sniffer-v2.0/obj/
Git_program/STM32-v3.0/obj/

470M/*